<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnDuLich.Properties.Settings.cnnStr" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=QLHocSinh;Integrated Security=True" />
        <add name="DuLich.Properties.Settings.cnnStr" connectionString="Data Source=MSI;Initial Catalog=Account1;Integrated Security=True" />
    </connectionStrings>
</configuration>